<nz-card nzHoverable [nzTitle]="titleTemplate" class="mb-3">
  <p>
    <span class="text-secondary">Number of attendees: </span
    ><b class="fw-bold">{{ data[1].length }}</b>
  </p>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Time in - Time out</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let attendee of data[1]">
        <td>{{ getFullName(attendee.user) }}</td>
        <td>
          <p *ngFor="let time of attendee.time">{{ time }}</p>
        </td>
        <td>{{ attendee.duration }}</td>
      </tr>

      <tr>
        <td colspan="3" class="text-center text-secondary">See all...</td>
      </tr>
    </tbody>
  </table>
</nz-card>

<ng-template #titleTemplate>
  <h6>{{ data[0] }}</h6>
</ng-template>
