<div class="body-content">
  <section class="container">
    <div class="row align-items-center text-center text-md-start">
      <div class="col-12 col-md-6">
        <h1 class="display-5">Manage and track attendance with one click</h1>
        <p class="col-12 col-md-8 text-muted my-3">
          BusyKoala provides you an easy way of managing and tracking the
          attendance for your event!
        </p>
        <a routerLink="/login">
          <button class="btn btn-cta">Get started</button>
        </a>
      </div>
      <div class="col d-none d-md-block">
        <img src="../../assets/images/koala-png.png" class="img-fluid" />
      </div>
    </div>
  </section>

  <section class="desc text-center">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <h2 class="col-12 col-md-6 fs-1 lh-sm">
          A hassle-free attendance system for your events
        </h2>
        <div class="col"></div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row text-center text-md-start gx-md-5 gy-5 text-muted">
      <article class="col-12 col-md-4">
        <h5>Start a session</h5>
        <i class="fa fa-bell"></i>
        <p>
          With your own workspace ready, start a session and start accepting
          attendees.
        </p>
      </article>

      <article class="col-12 col-md-4">
        <h5>Invite attendees</h5>
        <i class="fa fa-users"></i>
        <p>
          Get your BusyKoala session invite link with one click and send it to
          your attendees.
        </p>
      </article>

      <article class="col-12 col-md-4">
        <h5>Track attendance</h5>
        <i class="fa fa-table-cells"></i>
        <p>
          BusyKoala provides you a log of all attendance during your workspace
          session.
        </p>
      </article>
    </div>
  </section>

  <app-footer></app-footer>
</div>
