<nz-card
  *ngIf="timeInOutData"
  nzHoverable
  [nzTitle]="titleTemplate"
  [nzActions]="currentlyTimedIn ? [actionTimeOut] : []"
>
  <p class="pb-3">
    <span class="text-secondary">Duration: </span
    ><b class="fw-bold">{{ duration }}</b>
  </p>
  <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Time started</th>
          <th scope="col">Time ended</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let time of times">
          <td>{{ time[0] }}</td>
          <td>{{ time[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</nz-card>

<ng-template #titleTemplate>
  <h6>{{ date }}</h6>
</ng-template>
<ng-template #actionTimeOut>
  <span
    nz-popconfirm
    nzPopconfirmTitle="Are you sure you want to take a break?"
    (nzOnConfirm)="timeOut()"
    >Take a break</span
  >
</ng-template>
