<nz-card nzHoverable [nzTitle]="titleTemplate" [nzActions]="[actionTimeOut]">
  <p>
    <span class="text-secondary">Duration: </span><b class="fw-bold">32 mins</b>
  </p>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Time in</th>
        <th scope="col">Time out</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>00:00 MM</td>
        <td>00:00 MM</td>
      </tr>
      <tr>
        <td>00:00 MM</td>
        <td>00:00 MM</td>
      </tr>
      <tr>
        <td>00:00 MM</td>
        <td>00:00 MM</td>
      </tr>

      <tr>
        <td colspan="2" class="text-center text-secondary">See all...</td>
      </tr>
    </tbody>
  </table>
</nz-card>

<ng-template #titleTemplate>
  <h6>Date</h6>
</ng-template>
<ng-template #actionTimeOut>
  <span>Time out</span>
</ng-template>
