.full-height {
  height: calc(100vh - 71px);
}
#calendar {
  padding: 0 20px;
  margin-top: -15px;
}
nz-badge {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
nz-spin {
  position: absolute;
  top: 80px;
  left: 50%;
}
