<div class="body-content">
  <div class="d-flex full-height">
    <!-- 
      Toggler for create event form offcanvas
      for screen sizes below 992px  
    -->
    <aside class="d-lg-none">
      <button
        class="btn w-100 h-100 rounded-0"
        data-bs-toggle="offcanvas"
        data-bs-target="#offCanvasCreateEventForm"
      >
        <i class="fa fa-angle-right"></i>
      </button>
    </aside>

    <!-- 
      Create event form offcanvas for screen sizes below 992px  
    -->
    <aside
      class="offcanvas offcanvas-start d-lg-none"
      tabindex="-1"
      id="offCanvasCreateEventForm"
    >
      <div class="offcanvas-body">
        <app-create-event-form
          [successfulRequest]="successfulRequest"
          [isProcessingRequest]="isProcessingRequest"
          (submitted)="onSubmitted($event)"
        ></app-create-event-form>
      </div>
    </aside>

    <!-- 
      Create event form sidebar
      for screen sizes greater than 991px
    -->
    <aside class="container-content d-none d-lg-inline">
      <app-create-event-form
        [successfulRequest]="successfulRequest"
        [isProcessingRequest]="isProcessingRequest"
        (submitted)="onSubmitted($event)"
      ></app-create-event-form>
    </aside>

    <!-- Calendar -->
    <section id="calendar" class="info-container-wsc">
      <div class="scrollable-container">
        <div class="scrollable-content">
          <nz-spin
            nzSimple
            [nzSpinning]="!hasCalendarLoaded"
            [nzSize]="'large'"
            [class]="hasCalendarLoaded ? 'd-none' : ''"
          ></nz-spin>
          <nz-calendar
            [(ngModel)]="selectedDate"
            (nzSelectChange)="selectChange()"
          >
            <ul *nzDateCell="let date">
              <ng-container [ngSwitch]="date.getDate()">
                <ng-container *ngFor="let eventData of events | keyvalue">
                  <ng-container
                    *ngIf="selectedDate.getMonth() === date.getMonth()"
                  >
                    <ng-container *ngSwitchCase="eventData.key">
                      <li
                        nz-popover
                        *ngFor="let event of eventData.value"
                        [nzPopoverTitle]="popoverDateTemplate"
                        [nzPopoverContent]="event"
                      >
                        <nz-badge nzStatus="cyan" [nzText]="event"></nz-badge>
                      </li>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-template #popoverDateTemplate>
                  <h6>{{ date | date }}</h6>
                </ng-template>
              </ng-container>
            </ul>
          </nz-calendar>
        </div>
      </div>
    </section>
  </div>
</div>
