<div class="body-content">
  <div class="d-flex full-height">
    <aside class="d-md-none">
      <button class="btn w-100 h-100 rounded-0">></button>
    </aside>

    <aside class="container-content d-none d-md-inline">
      <h3 class="fs-3">Create event</h3>
      <div class="scrollable-container" id="create-event-form-container">
        <div class="scrollable-content">
          <app-create-event-form></app-create-event-form>
        </div>
      </div>
      <button class="btn btn-cta w-100">Add event</button>
    </aside>

    <section class="container-content">
      <p>months</p>
      <div class="scrollable-container">
        <div class="scrollable-content">
          <p>calendar</p>
        </div>
      </div>
    </section>
  </div>
</div>
