<div class="body-content">
  <div class="d-flex full-height">
    <!-- 
      Toggler for create event form offcanvas
      for screen sizes below 768px  
    -->
    <aside class="d-md-none">
      <button
        class="btn w-100 h-100 rounded-0"
        data-bs-toggle="offcanvas"
        data-bs-target="#offCanvasCreateEventForm"
      >
        <i class="fa fa-angle-right"></i>
      </button>
    </aside>

    <!-- 
      Create event form offcanvas for screen sizes below 768px  
    -->
    <aside
      class="offcanvas offcanvas-start d-md-none"
      tabindex="-1"
      id="offCanvasCreateEventForm"
    >
      <div class="offcanvas-body">
        <app-create-event-form></app-create-event-form>
      </div>
    </aside>

    <!-- 
      Create event form sidebar
      for screen sizes greater than 767px
    -->
    <aside class="container-content d-none d-md-inline">
      <app-create-event-form
        (submitted)="onSubmitted($event)"
      ></app-create-event-form>
    </aside>

    <!-- Calendar -->
    <section id="calendar">
      <div class="scrollable-container">
        <div class="scrollable-content">
          <nz-calendar
            [(ngModel)]="selectedDate"
            (nzSelectChange)="selectChange($event)"
          >
            <ul *nzDateCell="let date" class="events">
              <ng-container [ngSwitch]="date.getDate()">
                <ng-container *ngFor="let eventDate of events | keyvalue">
                  <ng-container
                    *ngIf="selectedDate.getMonth() === date.getMonth()"
                  >
                    <ng-container *ngSwitchCase="eventDate.key">
                      <li
                        nz-popover
                        *ngFor="let event of eventDate.value"
                        [nzPopoverTitle]="formatEventDate(date)"
                        [nzPopoverContent]="event"
                      >
                        <nz-badge nzStatus="cyan" [nzText]="event"></nz-badge>
                      </li>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ul>
          </nz-calendar>
        </div>
      </div>
    </section>
  </div>
</div>
