.full-height {
  height: calc(100vh - 71px);
}
#calendar {
  padding: 0 20px;
  margin-top: -15px;
}
nz-badge,
#popoverEventTemplate h4 {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}
nz-badge {
  font-size: 12px;
}
nz-spin {
  position: absolute;
  top: 80px;
  left: 50%;
}
.text-small {
  font-size: 14px;
}
.fa {
  color: #bdbdbd;
}
#popoverEventTemplate {
  max-width: 250px !important;
}
.delete-button {
  background: transparent;
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.delete-button:hover {
  background: #fde9eb;
}
