.nav-link {
  color: #58abdd;
  text-decoration: none;
}
.nav-link:hover,
.nav-link.active {
  color: #488fbb;
}
.dropdown a.active {
  background-color: #488fbb;
  color: white;
}
[data-initials]:before {
  background: #099bdd;
  color: white;
  content: attr(data-initials);
  display: inline-block;
  font-weight: bold;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
}
