<!-- Add workspace modal -->
<div
  class="modal fade"
  id="addWorkspaceModal"
  tabindex="-1"
  aria-labelledby="addWorkspaceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWorkspaceModalLabel">Add workspace</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <div class="scrollable-container" id="create-event-form-container">
          <div class="scrollable-content">
            <form nz-form [nzLayout]="'vertical'">
              <!-- Title field -->
              <nz-form-item>
                <nz-form-label nzFor="title">Title:</nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="Input title" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="during">Schedule:</nz-form-label>
                <nz-form-control>
                  <nz-checkbox-group
                    class="col"
                    [(ngModel)]="daysOptions"
                    name="daysOptions"
                  ></nz-checkbox-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="inviteLink"
                  >Or use an invite link:</nz-form-label
                >
                <nz-form-control>
                  <nz-form-control>
                    <input
                      nz-input
                      placeholder="https://busykoala.com/invite/workspace/code"
                    />
                  </nz-form-control>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-text" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-cta">Save changes</button>
      </div>
    </div>
  </div>
</div>
