<!-- Add workspace modal -->
<div
  class="modal fade"
  id="addWorkspaceModal"
  tabindex="-1"
  aria-labelledby="addWorkspaceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWorkspaceModalLabel">Add workspace</h5>
        <button
          id="buttonClose"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <div class="scrollable-container" id="create-event-form-container">
          <div class="scrollable-content">
            <form
              nz-form
              [formGroup]="createWorkspaceForm"
              [nzLayout]="'vertical'"
            >
              <!-- Title field -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="title">Title:</nz-form-label>
                <nz-form-control nzErrorTip="Please input the title!">
                  <input
                    nz-input
                    formControlName="title"
                    placeholder="Input title"
                    (focusout)="handleFocusOut('title')"
                  />
                </nz-form-control>
              </nz-form-item>

              <!-- Schedule checkbox -->
              <nz-form-item formArrayName="schedule">
                <nz-form-label>Schedule:</nz-form-label>
                <ng-container *ngFor="let weekday of WEEKDAYS; index as i">
                  <nz-form-control>
                    <label nz-checkbox [formControlName]="i">{{
                      weekday
                    }}</label>
                  </nz-form-control>
                </ng-container>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-text" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-cta" (click)="confirm()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
