<footer class="border-top">
  <ul class="container d-flex">
    <li class="d-none d-md-inline">
      <a class="navbar-brand" routerLink="/" ariaCurrentWhenActive="page">
        BusyKoala
      </a>
    </li>
    <li class="mx-auto me-md-0 ms-md-auto">
      <ul class="d-flex">
        <li>
          <a
            href="https://www.facebook.com"
            target="_blank"
            class="fa-brands fa-facebook-f"
          ></a>
        </li>
        <li>
          <a
            href="https://www.twitter.com"
            target="_blank"
            class="fa-brands fa-twitter"
          ></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com"
            target="_blank"
            class="fa-brands fa-instagram"
          ></a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
