<!-- Search bar -->
<form>
  <input type="text" class="form-control rounded-pill" placeholder="Search" />
</form>

<!-- Workspaces -->
<div class="scrollable-container" id="workspaces-container">
  <div class="scrollable-content">
    <button class="btn border-0 p-0 m-1">
      <div class="card text-start active">
        <div class="card-body">
          <h5 class="card-title">Workspace title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Workspace when</h6>
        </div>
      </div>
    </button>
  </div>
</div>

<!-- Create button -->
<button class="btn btn-cta w-100">Add workspace</button>
