<!-- Search bar -->
<form>
  <input type="text" class="form-control rounded-pill" placeholder="Search" />
</form>

<!-- Workspaces -->
<div class="scrollable-container" id="workspaces-container">
  <div class="scrollable-content">
    <a
      *ngFor="let workspace of workspaces"
      class="btn border-0 p-0 m-1"
      [routerLink]="'/workspaces/' + workspace.id"
      (click)="selectWorkspace(workspace.id)"
    >
      <div
        class="card text-start"
        [class.active]="selectedWorkspaceID === workspace.id"
      >
        <div class="card-body">
          <h5 class="card-title">{{ workspace.name }}</h5>
          <p class="card-subtitle mb-2 text-secondary">{{ workspace.when }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Add workspace button -->
<button
  type="button"
  class="btn btn-cta w-100"
  data-bs-toggle="modal"
  data-bs-target="#addWorkspaceModal"
>
  Add workspace
</button>
