<nz-card *ngIf="attendee" nzHoverable [nzTitle]="titleTemplate">
  <ng-template #titleTemplate>
    <h6>{{ name }}</h6>
  </ng-template>

  <p class="pb-3">
    <span class="text-secondary">Duration: </span
    ><b class="fw-bold">{{ duration }}</b>
  </p>

  <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Time started</th>
          <th scope="col">Time ended</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let time of attendee.time">
          <td>{{ time.split(TIME_SEPARATOR)[0] }}</td>
          <td>{{ time.split(TIME_SEPARATOR)[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</nz-card>
