<!-- Header -->
<nz-button-group class="me-2">
  <button nz-button>Today</button>
  <button nz-button>Month</button>
</nz-button-group>
<nz-date-picker nzMode="month"></nz-date-picker>

<!-- Attendees today -->
<div *ngIf="false" class="scrollable-container">
  <div class="scrollable-content">
    <div class="container-fluid">
      <div class="row g-2 pt-2 pb-3">
        <div
          *ngFor="let e of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          class="col-12 col-sm-6 col-md-4"
        >
          <app-attendees-today></app-attendees-today>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Summary of attendees per month -->
<div *ngIf="true" class="scrollable-container">
  <div class="scrollable-content">
    <div class="p-2">
      <div *ngFor="let e of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <app-attendees-month></app-attendees-month>
      </div>
    </div>
  </div>
</div>
