<!-- Header -->
<div class="button-group d-flex justify-content-between">
  <div>
    <nz-button-group class="me-2">
      <nz-radio-group [(ngModel)]="buttonView">
        <label nz-radio-button nzValue="today">Today</label>
        <label nz-radio-button nzValue="month" (click)="getMonthSummary()"
          >Month</label
        >
      </nz-radio-group>
    </nz-button-group>
    <nz-date-picker
      nzMode="month"
      *ngIf="buttonView === 'month'"
      [(ngModel)]="selectedDate"
      (nzOnOpenChange)="onClose($event)"
    ></nz-date-picker>
  </div>
  <div>
    <button nz-button nzType="text" class="me-2" (click)="showInviteLink()">
      Invite link
    </button>
    <button
      nz-button
      nzType="text"
      [disabled]="!ongoing"
      nz-popconfirm
      [nzPopconfirmTitle]="
        'Are you sure you want to ' + ongoing.toLowerCase() + ' session?'
      "
      (nzOnConfirm)="updateSession()"
    >
      {{ ongoing + " session" }}
    </button>
  </div>
</div>

<!-- Attendees today -->
<div *ngIf="buttonView === 'today'" class="scrollable-container">
  <div class="d-flex justify-content-center">
    <nz-spin
      nzSimple
      [nzSpinning]="!hasWorkspaceDataLoaded"
      [nzSize]="'large'"
      [class]="hasWorkspaceDataLoaded ? 'd-none' : ''"
    ></nz-spin>
  </div>
  <div class="scrollable-content">
    <div class="container-fluid">
      <a (click)="refresh()" class="refresh-button"
        ><i class="fa fa-rotate-right"></i> Refresh</a
      >
      <nz-empty *ngIf="attendeesToday.length === 0"></nz-empty>
      <div class="row g-2 pt-2 pb-3">
        <div *ngFor="let attendee of attendeesToday" class="col-12 col-md-6">
          <app-attendees-today [attendee]="attendee"></app-attendees-today>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Summary of attendees per month -->
<div *ngIf="buttonView === 'month'" class="scrollable-container" id="month">
  <div class="d-flex justify-content-center">
    <nz-spin
      nzSimple
      [nzSpinning]="!hasWorkspaceDataLoaded"
      [nzSize]="'large'"
      [class]="hasWorkspaceDataLoaded ? 'd-none' : ''"
    ></nz-spin>
  </div>
  <div class="scrollable-content">
    <div class="px-2" *ngIf="selectedDate && attendeesMonth">
      <a (click)="refresh()" class="refresh-button"
        ><i class="fa fa-rotate-right"></i> Refresh</a
      >
      <nz-empty *ngIf="attendeesMonth.length === 0"></nz-empty>
      <div *ngFor="let monthlySummary of attendeesMonth">
        <app-attendees-month
          [monthlySummary]="monthlySummary"
        ></app-attendees-month>
      </div>
    </div>
  </div>
</div>
