<!-- Header -->
<div class="button-group d-flex justify-content-between">
  <div>
    <nz-button-group class="me-2">
      <nz-radio-group [(ngModel)]="buttonView">
        <label nz-radio-button nzValue="today">Today</label>
        <label nz-radio-button nzValue="month">Month</label>
      </nz-radio-group>
    </nz-button-group>
    <nz-date-picker nzMode="month"></nz-date-picker>
  </div>
  <div>
    <button nz-button nzType="text" class="me-2">Invite link</button>
    <button nz-button nzType="text">Start session</button>
  </div>
</div>

<!-- Attendees today -->
<div *ngIf="buttonView === 'today'" class="scrollable-container">
  <div class="scrollable-content">
    <div class="container-fluid">
      <div class="row g-2 pt-2 pb-3">
        <div
          *ngFor="let e of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          class="col-12 col-sm-6 col-md-4"
        >
          <app-attendees-today></app-attendees-today>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Summary of attendees per month -->
<div *ngIf="buttonView === 'month'" class="scrollable-container">
  <div class="scrollable-content">
    <div class="p-2">
      <div *ngFor="let e of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <app-attendees-month></app-attendees-month>
      </div>
    </div>
  </div>
</div>
