nz-date-picker,
nz-time-picker {
  width: 100%;
}
#create-event-form-container {
  height: calc(100% - 20px - 24px - 30px);
}
/* https://stackoverflow.com/questions/42892584/angular-material-md-datepicker-inside-bootstrap-modal */
::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}
