<!-- Header -->
<div class="button-group d-flex justify-content-between">
  <nz-date-picker
    nzMode="month"
    [(ngModel)]="selectedMonth"
    (nzOnOpenChange)="onClose($event)"
  ></nz-date-picker>
  <div>
    <button
      nz-tooltip
      [nzTooltipTitle]="tooltipTitleTemplate"
      [class]="
        'fa fa-circle-info ' +
        (isTimedIn || localWorkspace.ongoing === 'false' ? '' : 'd-none')
      "
    ></button>
    <ng-template #tooltipTitleTemplate>
      <p *ngIf="isTimedIn && localWorkspace.ongoing === 'true'">
        You are already working.
      </p>
      <p *ngIf="localWorkspace.ongoing === 'false'">
        Workspace has no ongoing session.
      </p>
    </ng-template>
    <button
      nz-button
      nzType="text"
      [disabled]="isTimedIn || localWorkspace.ongoing === 'false'"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure you want to start?"
      (nzOnConfirm)="timeIn()"
    >
      Start work
    </button>
  </div>
</div>

<!-- Time ins/outs -->
<div class="scrollable-container">
  <div class="d-flex justify-content-center">
    <nz-spin
      nzSimple
      [nzSpinning]="!hasWorkspaceDataLoaded"
      [nzSize]="'large'"
      [class]="hasWorkspaceDataLoaded ? 'd-none' : ''"
    ></nz-spin>
  </div>
  <div class="scrollable-content">
    <div class="container-fluid">
      <nz-empty *ngIf="timeInOutData.length === 0"></nz-empty>
      <div class="row g-2 pt-2 pb-3">
        <div
          *ngFor="let userTimeData of timeInOutData; index as i"
          class="col-12 col-md-6"
        >
          <app-time-in-out
            [timeInOutData]="userTimeData"
            [date]="dates[i]"
            (timed)="timeOut($event)"
          ></app-time-in-out>
        </div>
      </div>
    </div>
  </div>
</div>
