<!-- Header -->
<div class="button-group d-flex justify-content-between">
  <nz-date-picker
    nzMode="month"
    [(ngModel)]="selectedMonth"
    (nzOnOpenChange)="onClose($event)"
  ></nz-date-picker>
  <button nz-button nzType="text">Time in</button>
</div>

<!-- Time ins/outs -->
<div class="scrollable-container">
  <div class="scrollable-content">
    <div class="container-fluid">
      <div class="row g-2 pt-2 pb-3">
        <div
          *ngFor="let data of timeInOutData; let i = index"
          class="col-12 col-md-6"
        >
          <app-time-in-out
            [timeInOutData]="data"
            [date]="dates[i]"
          ></app-time-in-out>
        </div>
      </div>
    </div>
  </div>
</div>
